<%- include('partials/header', {title:"water your plants!! &#127793"}) -%>

<center><h3>welcome! i hope you're having a great day. </h3></center>
<center><h4 id="demo">today is: </h4><center>

  <h3>to water:</h3>

  <table>
    <tr>
      <th>
        name
      </th>
      <th>
        location
      </th>
      <th>
        water needed (oz)
      </th>
    </tr>
    <%for(let i =0; i<data2.length; i++){
      for(j in data2[i].days){
        if(data2[i].days[j] == day && data2[i].watered == "wateredPlants"){%>
    <th>
      <a href="/plant/<%=data2[i].name%>"><%=data2[i].name%></a>
    </th>
    <th>
      <%=data2[i].location%>
    </th>
    <th>
      <%=data2[i].water%>
    </th>
    </tr>
    <%}}}%>
  </table>
  <br><br>
  <h3>to check:</h3>
  <table>
    <tr>
      <th>
        name
      </th>
      <th>
        location
      </th>
      <th>
        water needed (oz)
      </th>
    </tr>
    <%for(let i =0; i<data2.length; i++){
      for(j in data2[i].days){
        if(data2[i].days[j] == day && data2[i].watered == "checkedPlants"){%>
    <th>
      <a href="/plant/<%=data2[i].name%>"><%=data2[i].name%></a>
    </th>
    <th>
      <%=data2[i].location%>
    </th>
    <th>
      <%=data2[i].water%>
    </th>
    </tr>
    <%}}}%>
  </table>

<script>
const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];

const d = new Date();
let day = weekday[d.getDay()];
document.getElementById("demo").innerHTML += day.toLowerCase();
</script>

  <br>
  <br>

  <%- include('partials/footer') -%>
