<%- include('partials/header', {title:"P, R, S: High Scores"}) -%>

<center><h2>list of plants</h2></center>
<center><h3>click for more info</h3></center>
<table>
  <tr>
    <th>
      name
    </th>
    <th>
      location
    </th>
    <th>
      water needed (oz)
    </th>
  </tr>
  <%for(let i =0; i<opponents.length; i++){%>
  <th>
    <a href="/opponent/<%=opponents[i].name%>"><%=opponents[i].name%></a>
  </th>
  <th>
    <%=opponents[i].location%>
  </th>
  <th>
    <%=opponents[i].water%>
  </th>
  </tr>
  <%}%>
</table>

  <%- include('partials/footer') -%>
