<%- include('partials/header', {title:"plant details"}) -%>

<center><h2>plant info: - <%=data.name%></h2></center>

<table>
  <tr>
    <th>
      name:
    </th>
    <td>
      <%=data.name%>
    </td>
  </tr>
  <tr>
    <th>
      location:
    </th>
    <td>
      <%=data.location%>
    </td>
  </tr>
  <tr>
    <th>
      water amount (oz):
    </th>
    <td>
      <%=data.water%>
    </td>
  </tr>
  <tr>
    <th>
      days watered/checked
    </th>
    <td>
      <%=data.days%>
    </td>
  </tr>

</table>

<%- include('partials/footer') -%>
