<%- include('partials/header', {title:"Opponent Details- P, R, S"}) -%>

<h2>Opponent - <%=opponent.name%></h2>

<table>
  <tr>
    <th>
      name:
    </th>
    <td>
      <%=opponent.name%>
    </td>
  </tr>
  <tr>
    <th>
      location:
    </th>
    <td>
      <%=opponent.location%>
    </td>
  </tr>
  <tr>
    <th>
      water amount (oz):
    </th>
    <td>
      <%=opponent.water%>
    </td>
  </tr>
</table>

<%- include('partials/footer') -%>
