<%- include('partials/header', {title:"plant details"}) -%>

<center><h2>list of plants</h2></center>
<center><h3>click for more info</h3></center>
<table>
  <tr>
    <th>
      name
    </th>
    <th>
      location
    </th>
    <th>
      water needed (oz)
    </th>
  </tr>
  <%for(let i =0; i<data.length; i++){%>
  <th>
    <a href="/plant/<%=data[i].name%>"><%=data[i].name%></a>
  </th>
  <th>
    <%=data[i].location%>
  </th>
  <th>
    <%=data[i].water%>
  </th>
  </tr>
  <%}%>
</table>

  <%- include('partials/footer') -%>
